# 数据分析－棒球运动员的薪酬分析  
我们来分析下哪些因素会让棒球运动员的薪水更高。
## 提出问题

## 数据加工
### 导入包

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from __future__ import division
%matplotlib inline

### 载入数据

In [14]:
all_star_full_file='../data/baseball/AllstarFull.csv'
field_ing_file='../data/baseball/Fielding.csv'
salaryies_file='../data/baseball/Salaries.csv'
award_player_file='../data/baseball/AllstarFull.csv'

all_star_full_file='../data/baseball/AllstarFull.csv'
all_star_full_file='../data/baseball/AllstarFull.csv'
allstarfull_df=pd.read_csv(salaryies_file)

In [15]:
# 查看数据信息
allstarfull_df.describe()
allstarfull_df.info()
allstarfull_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24758 entries, 0 to 24757
Data columns (total 5 columns):
yearID      24758 non-null int64
teamID      24758 non-null object
lgID        24758 non-null object
playerID    24758 non-null object
salary      24758 non-null int64
dtypes: int64(2), object(3)
memory usage: 967.2+ KB

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000